.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.icon:visited {
  color: inherit;
}

.DrawerList-Text{
  font-size: 24px;
  color:white;
  text-decoration: none;
}

.Project-Box{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-self: center;
  background-color: #121212;
  width:1200px;
  height:auto;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Project-Title{
  top: 10px;
  left: 50%;
  text-align: center;
  color: white;
  margin-top:0;
  margin-bottom: 0;
}

.page-controls{
  position: absolute;
  bottom: 3%;
  left: 50%;
  background: #737373;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.2s;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
} button{
  width: 40px;
  height: 40px;
  background: #737373;
  border: 0;
  border-radius: 4px;
}:enabled:hover {
  background-color: #eeeeee69;
} span {
  margin-left: 5px;
  margin-right: 5px;
}

.pdfDocument {
  position: relative;
  background-color: white;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
}

.pdfDocument:hover .page-controls{
  opacity: 1;
}


