.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

section#front {
  margin-top: 84px;
}

a.icon:visited {
  color: inherit;
}

.DrawerList-Text{
  font-size: large;
  color:white;
  text-decoration: none;
  width: 100%;
}

.Project-Title{
  top: 10px;
  left: 50%;
  text-align: center;
  color: white;
  margin-top:0;
  margin-bottom: 0;
}

.page-controls{
  position: absolute;
  bottom: 3%;
  left: 50%;
  background: #737373;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.2s;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-controls button{
  width: 40px;
  height: 40px;
  background: #737373;
  border: 0;
  border-radius: 4px;
}
.page-controls button:enabled:hover {
  background-color: #eeeeee69;
} 

.page-controls span {
  margin-left: 5px;
  margin-right: 5px;
}

.react-pdf__Document:hover .page-controls{
  opacity: 1;
}

.react-pdf__Page.prevPage {
  position: relative;
  z-index: 1;
}

.react-pdf__Document{
  height: 770px;
  width: 595px;
}

.Element-Center {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translateX(-50%) translateY(-50%)';
}

