/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
} */

ol, ul {
    padding: 0;
    margin: 0;
    top:0;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 42px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
}

.game-board {
    display: flex;
    width:100%;
    justify-content: center;
}

.game-info {
    display: flex;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 0;
}

@media screen and (min-width: 600px) {
    .game {
        display: flex;
        flex-direction: row;
    }

    .game-board {
        display:flex;
        flex: 50%;
        justify-content: right;
    }

    .game-info {
        margin-top: 0;
        display:flex;
        margin-left: 20px;
        flex: 50%;
        text-align: left;
        justify-content: left;
        height: max-content;
    }
}